@{
    ViewBag.Title = "About Class Website";
}

@*<h2>About</h2>

<a class="btn btn-primary" href="http://www.cptc.edu">Check out CPTC for programming!</a>
<button class="btn btn-default">
    Inbox <span class="badge">3</span>
</button>*@

<div class="row">
    <div class="col-md-4">
    <p>Minim adipisicing quis authentic cliche. In fixie umami proident, 
    culpa schlitz pok pok lomo godard truffaut. Hammock air plant shaman, intelligentsia fanny 
    pack culpa proident irure meditation sriracha banjo twee sartorial helvetica 90's. 
    Shoreditch woke crucifix enamel pin, eiusmod paleo banh mi pabst godard flannel. Tilde 
    gentrify banh mi, ullamco gluten-free snackwave la croix raw denim jean shorts deserunt 
    paleo ugh. Chillwave laborum activated charcoal health goth bushwick ennui twee small batch 
    bicycle rights coloring book. Lomo anim proident, shabby chic pickled vinyl ex mustache 
    single-origin coffee. Dreamcatcher ramps sartorial sustainable do pinterest, prism 
    wayfarers. Offal ut banh mi cornhole sed excepteur vice yuccie laborum you probably haven't 
    heard of them id air plant cray. Bespoke exercitation magna kinfolk palo santo unicorn, 
    meggings mollit +1. Vexillologist kombucha messenger bag wolf pork belly consectetur 
    occupy typewriter, activated charcoal craft beer nisi viral. VHS next level four loko, brunch 
    live-edge anim put a bird on it tacos. Asymmetrical in paleo hell of. Everyday carry fashion 
    axe umami tbh VHS distillery.</p>
    </div>
    <div class="col-md-4">
    <p>Viral bitters banh mi poke hexagon, food truck ethical proident 
    thundercats gluten-free godard keffiyeh farm-to-table. Pariatur unicorn pop-up 3 wolf 
    moon anim hell of. Coloring book photo booth meditation single-origin coffee, lorem 
    affogato kogi af. Williamsburg narwhal reprehenderit slow-carb dolor bushwick dreamcatcher 
    literally hell of copper mug banjo irure pinterest brunch hella. 3 wolf moon exercitation 
    vinyl slow-carb, aliquip kombucha mlkshk. Consequat intelligentsia chia kogi tempor 
    sustainable poutine blue bottle beard. Shaman tempor pabst offal, chambray fam taxidermy 
    vinyl minim godard sunt next level photo booth knausgaard. Readymade viral venmo veniam 
    tempor, sustainable adipisicing brunch twee hella cupidatat put a bird on it. Minim forage 
    single-origin coffee farm-to-table meh. Narwhal celiac gastropub hoodie lo-fi in glossier. 
    Ullamco id copper mug lomo.</p>
    </div>
    <div class="col-md-4">
    <p>Godard knausgaard live-edge synth la croix aute. Typewriter 
    lumbersexual cornhole, hashtag gluten-free hella church-key laborum viral adaptogen 
    mixtape sartorial blog. Glossier leggings small batch chillwave, stumptown sint scenester 
    copper mug kale chips heirloom microdosing consectetur occupy. Actually williamsburg ennui 
    seitan man braid ut brooklyn non do messenger bag cupidatat. Quis locavore poutine cornhole
    ex. Farm-to-table reprehenderit letterpress knausgaard proident salvia. Bitters adipisicing 
    id est asymmetrical migas. Drinking vinegar scenester et brooklyn ipsum heirloom umami 
    voluptate 3 wolf moon paleo meggings salvia gastropub ennui cillum. Deep v synth YOLO taxidermy, 
    VHS asymmetrical enim. Intelligentsia minim elit fanny pack jean shorts in. Palo santo 
    humblebrag freegan heirloom shaman microdosing literally wayfarers sunt poutine brooklyn woke 
    asymmetrical deserunt. Raclette lorem exercitation shoreditch. Elit fugiat lumbersexual tumeric 
    copper mug butcher sustainable. Twee craft beer sustainable man bun, dolore you probably haven't 
    heard of them cliche franzen. Lo-fi laboris qui, yuccie tumeric freegan cornhole drinking vinegar 
    slow-carb mumblecore af anim.</p>
    </div>

</div>

