@{
    ViewBag.Title = "Welcome";
}

<p>This is the class website.
    It will get better.</p>
<p>
    Taiyaki lyft roof party celiac godard, kinfolk adipisicing mixtape. 
    Authentic chillwave iceland marfa ipsum normcore schlitz deep v 
    adipisicing skateboard laboris. Jean shorts flannel hoodie crucifix 
    bicycle rights, tofu hell of exercitation craft beer kickstarter 
    do dreamcatcher. Whatever ad hammock organic. Gentrify tattooed authentic 
    meh. Fanny pack cardigan cupidatat succulents, salvia meggings 
    lumbersexual culpa tumblr retro artisan mixtape magna pitchfork kickstarter. 
    Typewriter chicharrones keytar banh mi austin echo park. Photo booth 
    dolore microdosing organic beard. Franzen williamsburg meggings man bun helvetica.
</p>

