@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form method="post">
    Username:
    <input type="text" name="txtUserName" />
    Password:
    <input type="password" name="txtPassword"/>
    <input type="submit" value="Register" />
</form>