@model ClassWebsite.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form method="post">
    @Html.LabelFor(m => m.Username)
    @Html.EditorFor(m => m.Username)
    @Html.ValidationMessageFor(m => m.Username)

    <br />
    <input type="submit" value="Register" />
</form>